body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	background-position: top center;
    background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	color: #000000;

	background-color: #eeeeee

}

.site-navigation,
.user-navigation {
  list-style: none;
  }

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}




.goods-list {
	text-align: left;
	
}

.goods-list h3 {
  font-size: 24px;
  line-height: 30px;
}

.goods-list p {
   font-size: 16px;
   line-height: 24px;
   color: #283136;
}

.info {
	text-align: left;
	font-size: 16px;
   line-height: 24px;
   color: #283136;
}

.info b {
    font-size: 45px;
   line-height: 45px;
}

.features-values {
   font-size: 45px;
   }

 .features-text {
 	color: #283136;
 }  

 .button-r,
 .button-g,
 .button-y {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  
  border: none;
}

.button-r {
	background-color: #fb565a; 
}

.button-r:hover,
.button-r:focus {
  background-color: #e74246;
}

.button-r:active {
	background-color: #d7373b;
}

.button-g {
	background-color: #00ca74; 
}

.button-g:hover,
.button-g:focus {
  background-color: #00bc6c;
}

.button-g:active {
	background-color: #00aa62;
}

.button-y {
	background-color: #efc84a; 
}

.button-y:hover,
.button-y:focus {
  background-color: #eab534;
}

.button-y:active {
	background-color: #e5a722;
}

.client-list {
    list-style: none;
}

.write {
	color: #000000;
}

.write-form input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.footer-social {
list-style: none;
}

.footer-social a:hover {
	color: #e74246
}
.footer-social a:focus {
     color: #d7373b
	}

.futer-content {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}

.futer-content b {
    font-size: 36px;
	line-height: 36px;
}

.inner-page {
	color: #000000;
}

.box {
	margin: 0 auto;
    width: 1200px;
	
}

.main-navigation {
	display: flex;
	justify-content: space-between;
}

.main-header-logo {
	width: 160px;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
}

.site-navigation-list1 {
	width:  65px;
}

.site-navigation-list2 {
	width:  65px;
	margin: : 45px;
}

.site-navigation-list3 {
	width:  65px;
	margin: : 45px;
}

.site-navigation-list4 {
	width:  65px;
	margin: : 45px;
}

.user-navigation {
	width: 124px;

}


.container {
	margin: 0px;
	width: 1200px;
	
}

.goods {
	display: flex;
	justify-content: space-between;

}

.goods-list {
	width: 300px;
	
	bottom: 95px;
}

.middle {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.info {
	width: 660px;
	bottom: 140px;
}

.features {
	width: 360px;
}

.client-list {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.html {
	width: 300px;

}

.beard {
	width: 300px;
}

.pink {
	width: 300px;
}

.mishka4 {
	width: 300px;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.footer-social {
	width: 260px;
}

.footer-content {
	width: 560px;
}




 .visually-hidden{ 
position: absolute; 
width: 1px; 
height: 1px; 
margin: -1px; 
border: 0; 
padding: 0; 
white-space: nowrap; 
-webkit-clip-path: inset(100%); 
clip-path: inset(100%); 
clip: rect(0 0 0 0); 
overflow: hidden 
}

